* {
    font-family: 'Courier New', Courier, monospace;
    text-shadow:  1px 1px 14px rgb(120, 120, 236);
}

body {
    margin-top: 3vh;
    font-size: medium;
}

.card {
    margin-top: 0.3%;
    border: solid lightblue 0.2px;
    box-shadow: 1px 1px 12px rgb(55, 65, 68);
    position: relative;
    background: linear-gradient(to right, #e4f3ef,#b0e2f5, #b0e1f3, #c1d1d6, #b2f0e1);
    background-size:  400%;
    animation: gradient 15s ease infinite;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    border-radius: 10px;
}

.title {
    text-align: center;
    font-size: 4vh;
}
@media screen and (max-width: 600px) {
    .title {
        text-align: center;
        font-size: large;
    }
}

  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }



/* Panel */
.panelshow {
    visibility: visible;
    transition: 1s;
}


.panel {
    background: linear-gradient(60deg, #da2c2c ,#6447e4);
    background-size:  400%;
    animation: gradient 4s ease infinite;
    position: fixed;
    box-shadow: 0px 10px 16px #000000;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    z-index: 1;
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
    .panel {
        background: linear-gradient(60deg, #da2c2c ,#6447e4);
        background-size:  400%;
        animation: gradient 4s ease infinite;
        position: fixed;
        box-shadow: 0px 10px 16px #000000;
        bottom: 1%;
        width: 100%; 
        z-index: 1;
        opacity: 0.7;
    } 
    
}

.panel:hover {
    opacity: 10;
    transition: 1s;
    
}



.panelhide {

    transform: translateX(-50%) translateY(200%);
    visibility: hidden;
    transition: 1s;

}

.navigator {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    width: 2rem;
}

.navigator:hover {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 4rem;
    width: 4rem;
    transition: 0.7s;
}

@keyframes floating {
    0% {
        transform: translate(0, 10px);
    }

    25% {
        transform: translate(1px, 15x);
    }

    50% {
        transform: translate(15px, 0);
    }

    75% {
        transform: translate(8px, 19px);
    }

    100% {
        transform: translate(0, 10px);
    }
}

/* Home */
.home {

    height:96vh;
    align-items: center;
    text-align: center;
}

.home img {
    display: block;
    height: 30vh;
    margin-top: -30vh;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    
    /* animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite; */

}
.flag{
    box-shadow: 1px 1px 12px rgb(9, 70, 90);
    overflow: hidden;
    margin-top: 15vh;
    display: flex;
    height: 30vh;
    width: 63vw;
    margin-inline: 15vw;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
.flag {
    margin-top: 5vh;
    width: 100%; 
    margin-inline: 0;  
}
}

.org{
    height: 10vh;
    background: linear-gradient(to right, #FF9933, #f0d6bc,#FF9933, #FF9933,#FF9933, #f0d6bc,#FF9933,#FF9933,#f0d6bc, #FF9933);
    background-size:  400%;
    animation: gradient 10s ease infinite;
}
.whith{
    height: 10vh;
    background: linear-gradient(to right, #FFFFFF,#d9d9ff, #FFFFFF,#d9d9ff , #FFFFFF,#FFFFFF,#d9d9ff , #FFFFFF,#FFFFFF,#d9d9ff , #FFFFFF);
    background-size:  400%;
    animation: gradient 10s ease infinite;
}
.green{
    height: 10vh;
    background: linear-gradient(to right, #138808,#138808, #a7ff9f8c, #138808,#a7ff9f8c, #138808,#138808, #a7ff9f8c, #138808,#a7ff9f8c);
    background-size:  400%;
    animation: gradient 10s ease infinite;
}
.home .name {
    font-size: 10vh;
    text-shadow: 10px 1px 12px #000;
}

.home .deg {
    font-size: 7vh;
    text-shadow: 5px 1px 4px #000;

}

.home .headline {
    font-size: 3vh;
    margin-top: 10vh;
    text-shadow: 10px 1px 12px rgb(255, 252, 252);
    position: relative;
    bottom: 0%;
    /* animation-name: floating;
    animation-duration: 10s;
    animation-iteration-count: infinite; */
}

@media screen and (max-width: 600px) {
    .home img {
        display: block;
        height: 30vh;
        width: 90vw;

        margin-top: -30vh;
        margin-bottom: 3%;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;
        
        /* animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite; */
    
    }
    .home .name {
        font-size: 5em;
        text-shadow: 9px 3px 12px #000;
    }
    
    .home .deg {
        font-size: 3em;
        text-shadow: 3px 2px 6px #000;
    
    }
    .home .headline {
        font-size: 1.2em;
        margin-top: 1vh;
        text-shadow: 10px 1px 12px rgb(255, 252, 252);
        position: relative;
        bottom: 0%;
        /* animation-name: floating;
        animation-duration: 10s;
        animation-iteration-count: infinite; */
    }

}

/* Aboutme */
.containt {
    text-shadow:  1px 1px 15px rgb(238, 238, 250);
    padding: 8%;
    padding-top: 1%;
    text-align: justify;
    font-size: 3.5vh;
    font-style: italic;
}

@media screen and (max-width: 600px) {
    .containt {
        text-shadow:  1px 1px 15px rgb(238, 238, 250);
        padding: 2%;
        padding-top: 1%;
        text-align: justify;
        font-size: large;
        font-style: italic;
    }
    
}


/* Skill */
.skills {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.skills img{
    box-shadow: 4px 4px 12px rgb(0, 0, 0);
    border-radius: 5%;
}
.skills p {
    float: right;
    text-align: justify;
    width: 50%;
}

.skillsball {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .skills {
        display: block;
        align-items: center;
        flex-wrap: unset;
        justify-content: space-evenly;
    }
    .skills img{
        box-shadow: 4px 4px 12px rgb(0, 0, 0);
        border-radius: 5%;
    }
    .skills p {
        float: none;
        text-align: justify;
        width: 94%;
        padding: 2%;
    }
    
}


/* .skillsball .mainskill {
    display: inline-flex;
    border-radius: 50%;
    background-image: radial-gradient(#7CB9E8, #002D62);
    width: 200px;
    height: 200px;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    color: aliceblue;
    justify-content: center;
}
.mainskill:hover+ul .hide {
    border-radius: 50%;
    display: inline-flex;
    color: aliceblue;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #007e94;
    width: 100px;
    height: 100px;
    text-align: center;
} */

/* .hide {
    display: none;
} */

/* Work*/

.job {
    text-align: left;
    padding-left: 10%;

}

@media screen and (max-width: 600px) {
    .job {
        text-align: left;
        padding-left: 2%;
        border-bottom: solid  0.001px ;
    
    } 
}
/* 
.background-experience {
    background-image: url('/images/b01development.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 35%;
} */


/* Education */
.school {
    text-align: left;
    padding-left: 10%;

}

/* .background-education {
    background-image: url('/images/b02education.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 20%;
} */ 

/*Project*/


/*Udamy*/
/* .click-me {
    background-color: transparent;
    height: 200px;
    width: 30%;
    border: solid lightblue;
    margin-left: 10%;
    color: #000;
}

.click-me a {
    color: #000;
}

.click-me:hover {
    background-color: #cc98e09a;
    color: black;
    background-color: transparent;
    height: 220px;
    text-align: justify;
    width: 32%;
    border: solid lightblue;
    margin-left: 10%;
} */

/*Conectme */

.iconlist {
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.iconlist a {
    align-self: center;
    padding: 2%;
    margin-bottom: 500px;
   
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.iconlist a:hover {
    background: linear-gradient(-45deg, #da2c2c ,#6447e4);
    background-size:  400%;
    animation: gradient 2s ease infinite;


}

@media screen and (max-width: 600px) {
    .iconlist {
    text-decoration: none;
    list-style: none;
    display: block;
    flex-wrap: wrap;
    margin-bottom: 30vh;
    width: 100%;
    justify-content: space-evenly;
}
.iconlist a {
    align-self: center;
    padding: 2%;
    margin-bottom: 500px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

}