.navbar {
    background-color: #8E44AD;
    z-index: 50;
    position: fixed;
    top: 1;
    width: 100%;
    display: block;
    transition: top 0.3s;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    margin-right: 20px;
    padding-right: 30px;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        margin-top: 10%;
        
    }
    .navbar.responsive .icon {
        
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.click-me {
    background-color: transparent;
}

.click-me:hover {
    background-color: #cc98e09a;
    color: black;
}

.blink_text {
    animation: 1s blinker linear infinite;
    -webkit-animation: 1s blinker linear infinite;
    -moz-animation: 1s blinker linear infinite;
    color: rgb(23, 23, 241);
}

@-moz-keyframes blinker {
    0% {
        color: rgb(23, 23, 241);
    }
    50% {
        color: #c6cbcf
    }
    100% {
        color: rgb(23, 23, 241);
    }
}

@-webkit-keyframes blinker {
    0% {
        color: rgb(23, 23, 241);
    }
    50% {
        color: #c6cbcf
    }
    100% {
        color: rgb(23, 23, 241);
    }
}

@keyframes blinker {
    0% {
        color: rgb(23, 23, 241);
    }
    50% {
        color: #c6cbcf
    }
    100% {
        color: rgb(23, 23, 241);
    }
}

.remove-line {
    text-decoration: none;
}

.stop {
    color: blue;
}

.copy-to-clipboard {
    width: 100%;
    align-items: center;
}

.copy-to-clipboard-button {
    display: inline-block;
    background-color: #2996f0;
    border: none;
    box-shadow: 2px 2px 2px #666;
}

.copy-to-clipboard-button:hover {
    background-color: #000000;
    border: none;
    box-shadow: 2px 2px 2px #666;
}

.copy-to-clipboard-button .tooltiptext {
    visibility: hidden;
    background-color: #c6cbcf;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 2px 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.copy-to-clipboard-button:hover .tooltiptext {
    visibility: visible;
}

.copy-to-clipboard-text {
    padding-left: 3%;
    color: white;
    background-color: #0d7dd9;
    box-shadow: 2px 2px 2px #666;
}

.copy-to-clipboard-head {
    padding-left: 3%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 19px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 16px;
    padding: 1px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #b883cf;
}

input:checked+.slider::before {
    background-color: #101011;
    color: rgb(217, 255, 0);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}